
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.github.url }}/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ site.github.url }}/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.github.url }}/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.github.url }}/images/favicon/manifest.json">
    <link rel="mask-icon" href="{{ site.github.url }}/images/favicon/safari-pinned-tab.svg">
    <link rel="shortcut icon" href="{{ site.github.url }}/images/favicon/favicon.ico">
    <meta name="msapplication-config" content="{{ site.github.url }}/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
