h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-gray-dark;
  font-family: $font-family-heading;
  font-weight: $font-weight-black;
}

h1,
h2 {
  color: $color-blue-dark;
  font-size: 1.75rem;
  line-height: 1;

  @media (min-width: $max-width-lg) {
    font-size: 2.25rem;
  }

  &:not(:first-child) {
    margin-top: 2rem;
  }
}

h3 {
  color: $color-blue-dark;
  font-size: 1.5rem;
  line-height: 1.125;

  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}

blockquote {
  margin: 3rem 0;
  border-left: 4px solid $color-green-light;
  padding-left: 1.25rem;
  color: $color-gray-dark;
  font-size: 1.125rem;

  > p:last-child {
    margin-top: 0;

    > strong:only-child {
      display: block;
      color: $color-gray-medium;
      font-size: 0.875rem;
      font-weight: $font-weight-default;
      text-align: right;
    }
  }
}

li {
  margin-top: 0.25rem;
}

strong {
  color: $color-gray-dark;
}
