.main-cta {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 600px) {
    @supports (display: flex) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  @media (min-width: $breakpoint-lg) {
    max-width: $max-width-lg;
  }

  &__graphic {
    display: none;
    margin: 1rem 0;

    @supports (display: flex) {
      flex: 2;
    }

    &--persona {
      @media (min-width: 600px) {
        display: block;
      }

      @supports (display: flex) {
        flex: 1;
      }
    }

    @media (min-width: 600px) {
      display: block;
    }

    @media (min-width: $breakpoint-lg) {
      margin-top: -0.5rem;
    }
  }

  &__illustration {
    &--overhang {
      margin: 1rem;
      margin-right: 0;

      @media (min-width: $breakpoint-lg) {
        margin-bottom: -5rem;
      }
    }

    &--with-min-width {
      width: 25vw;

      @media (min-width: $breakpoint-lg) {
        width: 260px;
      }
    }
  }

  &__lede {
    padding: 2rem 0;
    color: $color-blue-dark-text;
    font-family: $font-family-heading;
    font-size: 1.75rem;
    line-height: 1.375;
    text-align: center;

    @media (min-width: 600px) {
      font-size: 1.25rem;
      text-align: left;

      @supports (display: flex) {
        flex: 2;
      }
    }

    @media (min-width: $breakpoint-md) {
      font-size: 1.75rem;
      text-align: left;
    }

    &--padded {
      @media (min-width: $breakpoint-md) {
        padding-left: 4rem;
        padding-right: 5rem;
      }
    }
  }

  &__strong {
    color: inherit;
    font-weight: $font-weight-bold;
  }

  &__link {
    display: inline-block;
    margin-top: 0;
    color: inherit;
    border-bottom: 1px dotted $color-blue-dark-text;
    line-height: 1;
    text-decoration: none;
  }
}
