.quotes {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 0 5rem;

  @at-root .no-js & {
    height: auto;
    padding-bottom: 4.5rem;
  }

  @media (min-width: $breakpoint-md) {
    padding: 4.5rem 0 7rem;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: $max-width-lg;
  }

  &--js-fader {
    position: relative;
    height: 21rem;

    @media (min-width: $breakpoint-md) {
      height: 27rem;
    }
  }

  &--compact {
    padding: 3.75rem 0;
  }

  &__quote {
    width: 100%;
    margin-top: 0;
    border: 0;
    padding: 0;
    text-align: center;

    &--js-fader {
      position: absolute;
      top: 46%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: 200ms opacity linear;
    }

    @at-root .no-js & {
      position: static;
      opacity: 1;
      transform: none;

      &:not(:first-child) {
        margin-top: 3rem;
      }
    }

    &--active {
      opacity: 1;
    }
  }

  &__text {
    color: $color-blue-dark-text;
    font-family: $font-family-heading;
    font-size: 1.375rem;
    font-weight: $font-weight-black;
    line-height: 1.25;

    @media (min-width: $breakpoint-md) {
      font-size: 2.25rem;
    }

    &--compact {
      font-size: 1.375rem;
      font-weight: $font-weight-bold;
    }
  }

  &__attribution {
    color: $color-gray-medium;
    font-size: 1rem;
    font-weight: $font-weight-default;

    @media (min-width: $breakpoint-md) {
      font-size: 1.75rem;
    }

    &--compact {
      font-size: 1rem;
    }
  }

  &__nav {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    @media (min-width: $breakpoint-md) {
      bottom: 3.25rem;
    }
  }

  @at-root .no-js &__nav {
    display: none;
  }

  &__nav-link {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem;
    overflow: hidden;
    text-indent: -9999px;

    &::before {
      content: '';
      display: block;
      width: 1rem;
      height: 1rem;
      background: $color-blue-dark-text;
      border: 2px solid $color-blue-dark-text;
      border-radius: 50%;
      text-indent: 0;
      transition: 200ms background linear;
    }

    &--active::before {
      background: $color-white;
    }
  }
}
