.site-section {
  margin-top: 0;

  &--vertical-padding {
    padding-bottom: 4.5rem;
    padding-top: 4.5rem;
  }

  &--gradient {
    background-image:
      linear-gradient(
        -70deg,
        $color-gradient-start 20%,
        $color-gradient-end
      );
  }

  &--ultralight-blue {
    background-color: $color-blue-ultralight;
  }

  &--light-blue {
    background-color: $color-blue-ultralight;
  }

  &--blue {
    background-color: $color-blue-dark-text;
  }

  &--gray {
    background-color: $color-gray-light;
  }
}
