.site-footer {
  margin-top: 0;
  padding: 0.5rem 0;
  background-color: $color-blue-dark;

  @media (min-width: $breakpoint-sm) {
    padding: 0;
  }

  &__site-disclaimer {
    @media (min-width: $breakpoint-sm) {
      @supports (display: flex) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    max-width: $max-width-lg;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    text-align: center;
    color: $color-white;
    background-color: $color-blue-dark;
    font-size: 0.70rem;
    font-style: italic;
    line-height: 1.25;

    &--compact {
      font-size: 0.50rem;
      font-weight: $font-weight-bold;
    }
  }

}
