.site-nav {
  max-width: $max-width-lg;
  margin: 0 auto;
  color: $color-blue-dark;
  font-family: $font-family-heading;
  font-size: 0.75rem;
  font-weight: $font-weight-black;

  @media (min-width: $breakpoint-sm) {
    @supports (display: flex) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &--social {
    justify-content: flex-end;
    padding: 0.125rem 0;
  }

  &--footer {
    color: $color-blue-light;
    text-align: center;
  }

  &--main {
    line-height: 2;
    text-align: center;
  }

  &__group {
    display: block;
    margin-top: 0.75rem;
    vertical-align: bottom;

    @media (min-width: $breakpoint-sm) {
      display: inline;
      margin-top: 0;
    }
  }

  &__item {
    display: inline-block;
    margin-top: 0;
    padding: 0.25rem;
    color: inherit;
    text-decoration: none;
    vertical-align: middle;

    &:first-child {
      margin-left: 0;
    }

    &--main {
      padding: 0.5rem 0.25rem;
      line-height: 1.5rem;

      @media (min-width: $breakpoint-sm) {
        padding: 0.5rem;
      }
    }

    &--logo {
      display: inline-block;
      max-width: 88px;
      margin-right: auto;
      padding: 0.5rem 0.25rem 0.375rem;
      border-right: 1px solid $color-gray-light;
      line-height: 1.5;

      @media (min-width: 400px) {
        max-width: initial;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
    }

    &--margin-left-auto {
      margin-left: auto;
    }

    &--hide-on-small {
      display: none;

      @media (min-width: $breakpoint-md) {
        display: block;
      }
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $color-blue-hover;
      outline: 0;
    }
  }

  &--social &__item {
    width: 28px;
  }

  &__image {
    display: inline-block;
    width: 100%;
    height: auto;
  }
}
