.site-header {
  margin-top: 0;
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-light;

  &__nav {
    margin-top: 0;

    &--secondary {
      display: none;
      background-color: $color-blue-dark;

      @media (min-width: $breakpoint-sm) {
        display: block;
      }
    }
  }

  @supports (display: flex) {
    display: flex;
    flex-direction: column;

    &__nav {
      flex: 1;

      &--primary { order: 2; }
      &--secondary { order: 1; }
    }
  }
}
