.where-to-start {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 2.375rem 0;

  @media (min-width: $breakpoint-md) {
    @supports (display: flex) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__animation {
        flex: 2;
        max-width: 60%;
      }
    }
  }

  @media (min-width: $breakpoint-lg) {
    max-width: $max-width-lg;
  }

  &__text {
    color: $color-white;
    font-size: 0.875rem;

    @media (min-width: $breakpoint-md) {
      @supports (display: flex) {
        flex: 1;
        max-width: calc(40% - 3.125rem);
        margin-top: 0;
      }
    }
  }

  &__heading {
    color: inherit;
    font-size: 1.75rem;
  }

  &__lede {
    margin-top: 0.5rem;
  }

  &__link {
    display: inline-block;
    margin-top: 0;
    border-bottom: 1px dotted $color-white;
    color: inherit;
    font-weight: $font-weight-black;
    line-height: 1;
    text-decoration: none;
  }
}
