.why-are-we-here {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding: 0;

  &__card {
    position: relative;
    margin-top: 0;
  }

  &__section-link {
    flex: 1;
    display: block;
    min-height: 8.5rem;
    width: 250px;
    margin-top: 12rem;
    padding: 3rem 1rem 1rem;
    background: $color-white;
    border: 5px solid transparent;
    color: $color-blue-dark-text;
    font-size: 1.125rem;
    font-weight: $font-weight-black;
    line-height: 1.25rem;
    text-align: center;
    text-decoration: none;
    transition: 150ms all linear;
    z-index: 2;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::before {
      height: 14rem;
      top: 0.25rem;
      transition: 250ms top ease-in-out;
      z-index: 3;
    }

    &::after {
      background-image: url(../images/icon-chevron-down.svg);
      bottom: 0;
      height: 1.125rem;
      opacity: 0;
      transition: 150ms all ease-in-out;
      z-index: 0;
    }

    &--developers::before {
      background-image: url(../images/persona-developer-torso.svg);
    }

    &--service-integrations::before {
      background-image: url(../images/persona-integrator-torso.svg);
    }

    &--contributors::before {
      background-image: url(../images/persona-contributor-torso.svg);
    }

    &:hover,
    &:active,
    &:focus {
      border-color: $color-blue-dark-text;
      outline: 0;

      &::before {
        top: 0;
      }

      &::after {
        bottom: -2.25rem;
        opacity: 1;
      }
    }
  }
}
