<footer class="site-footer">
  <nav class="site-nav site-nav--footer">
    <a href="{{ site.github.url }}/about"
       class="site-nav__item">About</a>
    <a href="{{ site.github.url }}/serverless"
       class="site-nav__item">Serverless</a>
    <a href="{{ site.github.url }}/developers"
       class="site-nav__item">Developers</a>
    <a href="{{ site.github.url }}/service-integrators"
       class="site-nav__item">Service Integrators</a>
    <a href="{{ site.github.url }}/contributors"
       class="site-nav__item">Contributors</a>
    <a href="{{ site.github.url }}/events"
       class="site-nav__item">Events</a>
    <a href="{{ site.github.url }}/partners"
       class="site-nav__item">Partners</a>
    <a href="{{ site.github.url }}/faq"
       class="site-nav__item">FAQ</a>
    <div class="site-nav__group">
      <a href="https://github.com/openwhisk/openwhisk"
         title="Apache OpenWhisk on GitHub"
         class="site-nav__item site-nav__item--margin-left-auto">
        <img class="site-nav__image"
             src="{{ site.github.url }}/images/icon-github.svg"
             alt="Apache OpenWhisk on GitHub">
      </a>
      <a href="https://www.youtube.com/channel/UCbzgShnQk8F43NKsvEYA1SA"
         title="Apache OpenWhisk on YouTube"
         class="site-nav__item">
        <img class="site-nav__image"
             src="{{ site.github.url }}/images/icon-youtube.svg"
             alt="Apache OpenWhisk on YouTube">
      </a>
      <a href="http://www.slideshare.net/OpenWhisk"
         title="Apache OpenWhisk on SlideShare"
         class="site-nav__item">
        <img class="site-nav__image"
             src="{{ site.github.url }}/images/icon-slideshare.svg"
             alt="Apache OpenWhisk on SlideShare">
      </a>
      <a href="https://twitter.com/search?q=openwhisk"
         title="Apache OpenWhisk on Twitter"
         class="site-nav__item">
        <img class="site-nav__image"
             src="{{ site.github.url }}/images/icon-twitter.svg"
             alt="Apache OpenWhisk on Twitter">
      </a>
      <a href="http://stackoverflow.com/questions/tagged/openwhisk"
         title="Apache OpenWhisk on Stack Overflow"
         class="site-nav__item">
        <img class="site-nav__image"
             src="{{ site.github.url }}/images/icon-stack-overflow.svg"
             alt="Apache OpenWhisk on Stack Overflow">
      </a>
      <a href="http://slackindwo.mybluemix.net/"
         title="Apache OpenWhisk on Slack"
         class="site-nav__item">
        <img class="site-nav__image"
             src="{{ site.github.url }}/images/icon-slack.svg"
             alt="Apache OpenWhisk on Slack">
      </a>
      <a href="https://medium.com/openwhisk"
         title="Apache OpenWhisk on Medium"
         class="site-nav__item">
        <img class="site-nav__image"
             src="{{ site.github.url }}/images/icon-medium.svg"
             alt="Apache OpenWhisk on Medium">
      </a>
    </div>
  </nav>
</footer>
