<!--
/*
 *   Required ASF website links (scanned)
 *
 *   Name: Regex: URL
 *   ====  =====  ===
 *   Foundation:  apache|asf|foundation:                        http://www.apache.org/
 *   Events:      ^https?://.*apache.org/events/current-event:  See: https://www.apache.org/events/README.txt
 *   License:     ^https?://.*apache.org/licenses/$:            http://www.apache.org/licenses/
 *   Thanks:      ^https?://.*apache.org/foundation/thanks:     http://www.apache.org/foundation/thanks.html
 *   Security:    ^https?://.*apache.org/.*[Ss]ecurity:         http://www.apache.org/security/
 *   Sponsorship: ^https?://.*apache.org/foundation/sponsorship http://www.apache.org/foundation/sponsorship.html
 *   Trademarks:  \btrademarks\b All project or product homepages must feature a prominent trademark attribution of all applicable Apache trademarks.
 *   Copyright:   ((Copyright|©).*apache|apache.*(Copyright|©)): All website content SHOULD include a copyright notice for the ASF.
 *   Image:       .   Projects SHOULD include a 212px wide copy of their logo in https://www.apache.org/img/ to be included in ASF homepage.
 *                    See: https://www.apache.org/img/
 */
-->

<footer class="footer light-text">
  <main class="footer-row">
    <div>
        <div class="footer-row-text-links">
            <a class="" href="https://www.apache.org/">Apache&nbsp;Software&nbsp;Foundation</a>
            <a class="" href="https://apache.org/events/current-event">Events</a>
            <a class="" href="https://www.apache.org/licenses/">License</a>
            <a class="" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy</a>
            <a class="" href="security.html">Security</a>
            <a class="" href="https://www.apache.org/foundation/thanks.html">Thanks</a>
            <a class="" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a>
        </div>
    </div>
  </main>
  <main class="footer-row">
    <div>
      Apache OpenWhisk, OpenWhisk, Apache, the Apache feather logo, and
      the Apache OpenWhisk project logo are either
      <a href="trademarks.html">registered trademarks</a> or
      <a href="trademarks.html">trademarks</a>
      of The Apache Software Foundation in the United States and other countries.
      See <a href="trademarks.html">guidance</a> on use of Apache OpenWhisk trademarks.
      All other marks mentioned may be trademarks or registered trademarks
      of their respective owners.
    </div>
  </main>
  <main class="footer-row">
      Copyright © 2016-present The Apache Software Foundation,
      Licensed under the Apache License, Version 2.0.
  </main>
</footer>
