<header class="site-header">
  <div class="site-header__nav site-header__nav--primary">
    <nav class="site-nav site-nav--main">
      <a class="site-nav__item site-nav__item--main site-nav__item--logo"
         href="{{ site.github.url }}/">
        <img class="site-nav__image"
             src="{{ site.github.url }}/images/apache-openwhisk.svg"
             alt="Apache OpenWhisk">
      </a>
      <a href="{{ site.github.url }}/about"
         class="site-nav__item site-nav__item--main">About</a>
      <a href="{{ site.github.url }}/serverless"
         class="site-nav__item site-nav__item--main">Serverless</a>
      <a href="{{ site.github.url }}/developers"
         class="site-nav__item site-nav__item--main site-nav__item--hide-on-small">Developers</a>
      <a href="{{ site.github.url }}/service-integrators"
         class="site-nav__item site-nav__item--main site-nav__item--hide-on-small">Service Integrators</a>
      <a href="{{ site.github.url }}/contributors"
         class="site-nav__item site-nav__item--main site-nav__item--hide-on-small">Contributors</a>
      <a href="{{ site.github.url }}/events"
         class="site-nav__item site-nav__item--main">Events</a>
      <a href="{{ site.github.url }}/faq"
         class="site-nav__item site-nav__item--main">FAQ</a>
    </nav>
  </div>
  <div class="site-header__nav site-header__nav--secondary">
    <nav class="site-nav site-nav--social">
      <a href="https://github.com/openwhisk/openwhisk"
         title="Apache OpenWhisk on GitHub"
         class="site-nav__item">
        <img class="site-nav__image"
             src="{{ site.github.url }}/images/icon-github.svg"
             alt="Apache OpenWhisk on GitHub">
      </a>
      <a href="https://www.youtube.com/channel/UCbzgShnQk8F43NKsvEYA1SA"
         title="Apache OpenWhisk on YouTube"
         class="site-nav__item">
        <img class="site-nav__image"
             src="{{ site.github.url }}/images/icon-youtube.svg"
             alt="Apache OpenWhisk on YouTube">
      </a>
      <a href="http://www.slideshare.net/OpenWhisk"
         title="Apache OpenWhisk on SlideShare"
         class="site-nav__item">
        <img class="site-nav__image"
             src="{{ site.github.url }}/images/icon-slideshare.svg"
             alt="Apache OpenWhisk on SlideShare">
      </a>
      <a href="https://twitter.com/search?q=openwhisk"
         title="Apache OpenWhisk on Twitter"
         class="site-nav__item">
        <img class="site-nav__image"
             src="{{ site.github.url }}/images/icon-twitter.svg"
             alt="Apache OpenWhisk on Twitter">
      </a>
      <a href="http://stackoverflow.com/questions/tagged/openwhisk"
         title="Apache OpenWhisk on Stack Overflow"
         class="site-nav__item">
        <img class="site-nav__image"
             src="{{ site.github.url }}/images/icon-stack-overflow.svg"
             alt="Apache OpenWhisk on Stack Overflow">
      </a>
      <a href="http://slackindwo.mybluemix.net/"
         title="Apache OpenWhisk on Slack"
         class="site-nav__item">
        <img class="site-nav__image"
             src="{{ site.github.url }}/images/icon-slack.svg"
             alt="Apache OpenWhisk on Slack">
      </a>
      <a href="https://medium.com/openwhisk"
         title="Apache OpenWhisk on Medium"
         class="site-nav__item">
        <img class="site-nav__image"
             src="{{ site.github.url }}/images/icon-medium.svg"
             alt="Apache OpenWhisk on Medium">
      </a>
    </nav>
  </div>
</header>
