<div class="header">

    <a class="header-section-logo" href="/">
    </a>
    <div class="header-section-text-links">
        <div class="header-row-text-links">
            <a class="header-text-link" href="{{ site.github.url }}/documentation.html">Documentation</a>
            <a class="header-text-link" href="{{ site.github.url }}/community.html">Community</a>
            <a class="header-text-link" href="{{ site.github.url }}/downloads.html">Downloads</a>
        </div>
    </div>
    <div class="header-section-social-icons">
        <div class="header-row-social-icons">
            <a class="header-button-icon" style="order: 7;" href="https://github.com/apache?q=openwhisk" title="Apache OpenWhisk project repositories on GitHub">
                <img class="header-icon-image" alt="GitHub" src="{{ site.github.url }}/images/icons/icon-github-white.svg">
            </a>
            <a class="header-button-icon" style="order: 6;" href="slack.html" title="Apache OpenWhisk on Slack">
                <img class="header-icon-image" alt="Slack" src="{{ site.github.url }}/images/icons/icon-slack-white.svg">
            </a>
            <a class="header-button-icon" style="order: 5;" href="https://twitter.com/search?q=openwhisk" title="Apache OpenWhisk on Twitter">
                <img class="header-icon-image" alt="Twitter" src="{{ site.github.url }}/images/icons/icon-twitter-white.svg">
            </a>
            <a class="header-button-icon" style="order: 4;" href="https://medium.com/openwhisk" title="Apache OpenWhisk on Medium">
                <img class="header-icon-image" alt="Medium" src="{{ site.github.url }}/images/icons/icon-medium-white.svg">
            </a>
            <a class="header-button-icon" style="order: 3;" href="https://www.youtube.com/channel/UCbzgShnQk8F43NKsvEYA1SA" title="Apache OpenWhisk on YouTube">
                <img class="header-icon-image" alt="YouTube" src="{{ site.github.url }}/images/icons/icon-youtube-white.svg">
            </a>
            <a class="header-button-icon" style="order: 2;" href="http://stackoverflow.com/questions/tagged/openwhisk" title="Apache OpenWhisk on Stack Overflow">
                <img class="header-icon-image" alt="Overflow" src="{{ site.github.url }}/images/icons/icon-stack-overflow-white.svg">
            </a>
            <a class="header-button-icon" style="order: 1;" href="http://www.slideshare.net/OpenWhisk" title="Apache OpenWhisk on SlideShare">
                <img class="header-icon-image" alt="SlideShare" src="{{ site.github.url }}/images/icons/icon-slideshare-white.svg">
            </a>
        </div>
    </div>
</div>
