/*
 *  Terminal / Code formatting
 */
.terminal {
    background: $color-terminal-bg;
    color: $color-terminal-fg;
    border: $terminal-default-border;
    padding: $terminal-padding;
    min-width: $terminal-width;
    margin-bottom: $terminal-margin-bottom;
    overflow: auto;

    // Note: options: white-space: normal|nowrap|pre|pre-line|pre-wrap
    // Note: non-std. options:  white-space: -moz-pre-wrap | -o-pre-wrap;
    pre {
        white-space: pre;
        display: inline;
        margin: $terminal-pre-margin;
        font-family: $font-family-code;
        font-weight: $terminal-font-weight;
        font-size: $terminal-font-size;
        line-height: $terminal-line-height;
    }
}

// Adjust code syntax padding when line numbers present
// Note: this overides syntax highlighter default padding.
.code {
    padding-left: $terminal-line-number-padding;
}
