/*
 * Layout: Responsive media thresholds
 */

$media-size-tablet-start: 920px;
$media-size-desktop-start: 1000px;
$media-size-max-width: 1280px;

// Adjust this value to control spacing around "whiskNodes" sections
// TODO: only use -Y on "bottom" of each section, rename to "bottom"
$whisk-nodes-padding-base-Y: 20px;
$whisk-nodes-padding-base-X: 10px;
$whisk-nodes-padding-tablet-X: 20px;

// padding: (top, right, bottom, left)
$whisk-nodes-main-content-padding-base: 10px 10px 10px 10px;
$whisk-nodes-main-content-padding-tablet: 10px 20px 10px 20px;

// TODO: see if we can eliminate this special case
$whisk-nodes-h3-margin-bottom: 30px;

/*
 * Layout: Main Content
 */

$main-width: 100%;

// Max width of <main> content elements, overrides 100% in _base.scss
// Note: the 'image-wrapper' will automatically consume the remaining % for horizontal (block) layout
$main-content-width-desktop: 60%;
$main-content-width-tablet: 50%;

// margin: (top, right, bottom, left)
$main-image-wrapper-margin-base: 10px 10px 10px 10px;

/*
 * Layout: Header
 */

$header-height: 80px;

// Allow for a fixed top banner on all content pages
$whisk-header-base-padding-top: 168px;
$whisk-header-tablet-padding-top: $header-height;

/*
 * Layout: Footer
 */

// padding (top-bottom, left-right)
$whisk-footer-base-padding-base: 20px 20px;
$whisk-footer-base-padding-tablet: 20px 20px;

/*
 * Layout: Body
 */

$full-width-paddingX: 10px;

/*
 * Layout: Logo
 */

// Note: this is the actual size of the .PNG file which has built-in spacing
// so we do not need to add any margins/padding/borders.
$logo-width: 320px;
$logo-height: 80px;

/*
 * Theme Colors
 */

$color-blue-light: #ebf1f9;
$color-blue-medium: #88addd;
$color-blue-dark: #29558f;
$color-blue-black: #0b1828;
$color-blue-hover: transparentize($color-blue-dark, 0.94);
$color-blue-gray-light: #eff2f5;
$color-blue-gray-medium: #455973;
$color-blue-gray-dark: #131920;
$color-blue-gray-light-text: #9da6ab;
$color-blue-dark-text: #00091a;
$color-white: #fff;

/*
 * Logo Colors
 */

$color-logo-deeper-steel-blue: #325c80;
$color-logo-deeper-sky-blue: #5aaafa;
$color-logo-deeper-sea-green: #008571;
$color-logo-deeper-aquamarine: #6eedd8;

/*
 * Layout Colors
 */

$color-fg-base-light-text: ghostwhite;
$color-bg-base-main: white;
$color-bg-base-image-wrapper: white;
$color-bg-base-content: ghostwhite;
$color-bg-base-img: transparent;
$color-bg-tablet-main: white;
$color-bg-desktop-main: white;

$color-header-bg: $color-blue-dark;
$color-header-bg-section-logo: transparent;
$color-header-bg-section-menu-text: transparent;
$color-header-bg-section-menu-icons: transparent;
$color-header-fg: white;
$color-header-icon-bg: $color-blue-gray-medium;
$color-header-icon-border: white;
$color-header-icon-bg-image: transparent;

$color-bg-tablet-image-wrapper-border: 8px solid white;

$color-anchors: #2955d7;

/*
 * Layout Colors (DEBUG)
 */
/*
$color-fg-base-light-text: ghostwhite;
$color-bg-base-main: red;
$color-bg-base-content: ghostwhite;
$color-bg-base-image-wrapper: green;
$color-bg-base-img: yellow;
$color-bg-tablet-main: magenta;
$color-bg-desktop-main: darkviolet;

$color-header-bg: gold;
$color-header-bg-section-logo: darkred;
$color-header-bg-section-menu-text: forestgreen;
$color-header-bg-section-menu-icons: midnightblue;
$color-header-fg: white;
$color-header-icon-bg: slategray;
$color-header-icon-border: pink;
$color-header-icon-bg-image: orange;

$color-bg-tablet-image-wrapper-border: 8px solid $color-logo-deeper-aquamarine;
*/

/*
 * Fonts
 */

$font-family-default: 'Roboto', sans-serif;
$font-family-code: "Courier New", Courier, monospace;
$font-size-default: 14px;
$font-weight-default: 300;
$font-weight-bold: 500;
$line-height-default: 22px;

/*
 * Text
 */

$h1-font-size: 32px;
$h1-line-height: normal;

$h2-font-size: 28px;
$h2-line-height: normal;

$h3-font-size: 24px;
$h3-line-height: 32px;

$h4-font-size: 20px;
$h4-line-height: 28px;

$h5-font-size: 16px;
$h5-line-height: 28px;

$p-font-size: $font-size-default;
$p-font-weight: $font-weight-default;
$p-line-height: $line-height-default;

/*
 * Header
 */

$header-tablet-h1-font-size: 36px;
$header-tablet-h1-font-weight: 300;
$header-tablet-h1-font-style: normal;
$header-tablet-h1-line-height: 44px;

$header-tablet-h5-font-size: 16px;
$header-tablet-h5-font-weight: 300;
$header-tablet-h5-font-style: normal;
$header-tablet-h5-line-height: 28px;

$header-base-h1-font-size: 32px;
$header-base-h1-font-weight: $header-tablet-h1-font-weight;
$header-base-h1-font-style: $header-tablet-h1-font-style;
$header-base-h1-line-height: 42px;

$header-base-h5-font-size: 14px;
$header-base-h5-font-weight: $header-tablet-h5-font-weight;
$header-base-h5-font-style: $header-tablet-h5-font-style;
$header-base-h5-line-height: $header-tablet-h5-line-height;

/*
 * Index
 */

$index-menu-width: 200px;

// position menu relative to header
$index-menu-top-offset: $header-height + 18px;
$index-menu-left-offset: 0px;
$index-menu-font-size: 10pt;

$color-index-bg: $color-white;
$color-index-fg: $color-blue-gray-dark;
$color-index-border: transparent;
$color-index-list-bg: transparent;
$color-index-list-border: transparent;
$color-index-item-bg: transparent;
$color-index-item-border: transparent;

$index-border: 0px solid $color-index-list-border;
$index-item-border: 0px solid $color-index-item-border;

/*
 * Expandable/Collapsible (WIP)
 */

$color-menu-collapsible-fg: white;
$color-menu-collapsible-bg: $color-blue-dark;
$color-menu-collapsible-hover-bg: $color-blue-gray-medium;
$color-menuitem-collapsible-border: 1px solid transparent;

/*
 * Terminal
 */

$color-terminal-border: $color-blue-gray-light;
$color-terminal-bg: #001a33;
$color-terminal-fg: white;
