---
layout: default
---

<section class="site-section site-section--gradient">
  <div class="main-cta">
    <div class="main-cta__lede main-cta__lede--padded">
      <h1 class="main-cta__title">
        TKTK
      </h1>
      <a class="main-cta__button u-button"
         href="#call-to-action">
        Get Involved
      </a>
    </div>
    <div class="main-cta__graphic main-cta__graphic--persona">
      <img class="main-cta__illustration main-cta__illustration--with-min-width main-cta__illustration--overhang"
           src="{{ site.github.url }}/images/persona-contributor-torso.svg"
           alt="Open-Source Contributors and OpenWhisk">
    </div>
  </div>
</section>

<section class="site-section">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--vertical-center">
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/temp-placeholder.svg"
             alt="OpenWhisk">
      </div>
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Headline Coming Soon
        </h2>
        <p class="main-content__text">
          Spicy jalapeno bacon ipsum dolor amet laboris proident esse tri-tip
          eiusmod hamburger sint ball tip cow doner. Irure ipsum elit ea fugiat.
          Burgdoggen shoulder pork belly corned beef. Doner proident excepteur
          pig in eiusmod officia ham sint.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-section site-section--gray">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--vertical-center">
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Headline Coming Soon
        </h2>
        <p class="main-content__text">
          Spicy jalapeno bacon ipsum dolor amet laboris proident esse tri-tip
          eiusmod hamburger sint ball tip cow doner. Irure ipsum elit ea fugiat.
          Burgdoggen shoulder pork belly corned beef. Doner proident excepteur
          pig in eiusmod officia ham sint.
        </p>
      </div>
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/temp-placeholder.svg"
             alt="OpenWhisk">
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--vertical-center">
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/temp-placeholder.svg"
             alt="OpenWhisk">
      </div>
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Headline Coming Soon
        </h2>
        <p class="main-content__text">
          Spicy jalapeno bacon ipsum dolor amet laboris proident esse tri-tip
          eiusmod hamburger sint ball tip cow doner. Irure ipsum elit ea fugiat.
          Burgdoggen shoulder pork belly corned beef. Doner proident excepteur
          pig in eiusmod officia ham sint.
        </p>
      </div>
    </div>
  </div>
</section>
