---
layout: default
---

<section class="site-section site-section--gradient">
  <div class="main-cta">
    <div class="main-cta__lede main-cta__lede--padded">
      <h1 class="main-cta__title">
        You can play a critical part in building game-changing cloud technology.
      </h1>
      <a class="main-cta__button u-button"
         href="https://github.com/openwhisk/openwhisk/issues">
        See Open Issues
      </a>
    </div>
    <div class="main-cta__graphic main-cta__graphic--persona">
      <img class="main-cta__illustration main-cta__illustration--with-min-width main-cta__illustration--overhang"
           src="{{ site.github.url }}/images/persona-contributor-torso.svg"
           alt="Open-Source Contributors and Apache OpenWhisk">
    </div>
  </div>
</section>

<section class="site-section">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--vertical-center">
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/illustration-contributors-share.svg"
             alt="Apache OpenWhisk">
      </div>
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Share your great ideas with the community.
        </h2>
        <p class="main-content__text">
          Have you built something great using Apache OpenWhisk? Share your
          rules, actions, and triggers with the community! We'll help to
          promote your work to the community, and you'll help to grow the
          community library of ready-to-use code available to other deveopers.
          Everybody wins!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-section site-section--gray">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--reverse main-content__columns--vertical-center">
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/temp-placeholder.svg"
             alt="OpenWhisk">
      </div>
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Share your service with thousands of developers.
        </h2>
        <p class="main-content__text">
          Make your product, tool, or service even more attractive to developers by
          becoming part of Apache OpenWhisk's growing ecosystem. Create a
          package to allow developers to use your service with Apache OpenWhisk,
          open it to the community, and join the serverless revolution!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--vertical-center">
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/illustration-contributors-skill.svg"
             alt="Apache OpenWhisk">
      </div>
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Build new skills. Build a community.
        </h2>
        <p class="main-content__text">
          Pad your resume by contributing to bleeding-edge, serverless
          technology. Become part of a growing community of open-source
          developers working to improve Apache OpenWhisk. Propose a feature,
          submit a pull request, or create a tutorial — help build a movement!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-section site-section--light-blue">
  <div class="quotes js--fade-slider">
    <blockquote id="quote1" class="quotes__quote js--fade-slider__slide">
      <div class="quotes__text">
        <p>
          “Apparently @openwhisk is the only fully open source #serverless
          technology, can run in-house too.”
        </p>
        <p class="quotes__attribution">
          #OpenWhisk
        </p>
      </div>
    </blockquote>
    <blockquote id="quote2" class="quotes__quote js--fade-slider__slide">
      <div class="quotes__text">
        <p>
          “So far I find #OpenWhisk the real highlight of this #serverlessconf
          London, I’m totally amazed by the work done so far by the dev team!
          kudos”
        </p>
        <p class="quotes__attribution">
          #OpenWhisk
        </p>
      </div>
    </blockquote>
    <nav class="quotes__nav js--fade-loop__nav js--fade-slider__nav">
      <a class="quotes__nav-link"
         href="#quote1">Quote 1</a>
      <a class="quotes__nav-link"
         href="#quote2">Quote 2</a>
    </nav>
  </div>
</section>
