---
layout: default
---

<section class="site-section site-section--gradient">
  <div class="main-cta">
    <div class="main-cta__lede main-cta__lede--padded">
      <h1 class="main-cta__title">
        Focus on quickly developing  value-adding code and share with
        the community.
      </h1>
      <a class="main-cta__button u-button"
         href="https://github.com/openwhisk/openwhisk/blob/master/docs/actions.md">
        Create Your First Action
      </a>
    </div>
    <div class="main-cta__graphic main-cta__graphic--persona">
      <img class="main-cta__illustration main-cta__illustration--with-min-width main-cta__illustration--overhang"
           src="{{ site.github.url }}/images/persona-developer-torso.svg"
           alt="Illustration: How Apache OpenWhisk Works">
    </div>
  </div>
</section>

<section class="site-section">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--vertical-center">
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/illustration-developers-scaling.svg"
             alt="Apache OpenWhisk scaling and utilization">
      </div>
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Scaling Per-Request &amp; Optimal Utilization
        </h2>
        <p class="main-content__text">
          Run your action ten thousand times in a fraction of a second, or once
          a week. Action instances scale to meet demand as needed, then disappear.
        </p>
        <p class="main-content__text">
          Enjoy optimal utilization where you don't pay for idle resources.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-section site-section--gray">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--reverse main-content__columns--vertical-center">
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/illustration-developers-flexible.svg"
             alt="Apache OpenWhisk flexible programming">
      </div>
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Flexible Programming
        </h2>
        <p class="main-content__text">
          Code in different languages like JavaScript/NodeJS, Swift, Python,
          Java or run custom logic by packaging code with Docker.
        </p>
        <p class="main-content__text">
          Invoke your code synchronously, asynchronously, or on a schedule.
        </p>
        <p class="main-content__text">
          Use higher-level programming constructs like sequences to declaratively
          chain together multiple actions.
          Use parameter binding to avoid hardcoding service credentials in your code.
        </p>
        <p class="main-content__text">
          And also, debug your code in realtime.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--vertical-center">
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/illustration-developers-ecosystem.svg"
             alt="Apache OpenWhisk scaling and utilization">
      </div>
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Rich Service Ecosystem
        </h2>
        <p class="main-content__text">
          Benefit from a large ecosystem of event emitters and consumers
          from different vendors covering domains like analytics,
          cognitive, data, mobile, and IoT.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-section site-section--light-blue">
  <div class="quotes quotes--js-fader">
    <blockquote id="quote1" class="quotes__quote quotes__quote--js-fader">
      <div class="quotes__text">
        <p>
          “Apache OpenWhisk relieved us from all of our pain points. It allowed
          us to focus on coding instead of operational aspects, guaranteed
          optimal utilization and scaling, [and] provided us with a flexible
          programming model.”
        </p>
        <p class="quotes__attribution">
          – Barry Nijenhuis, SiteSpirit
        </p>
      </div>
    </blockquote>
    <blockquote id="quote2" class="quotes__quote quotes__quote--js-fader">
      <div class="quotes__text">
        <p>
          “Apache OpenWhisk’s modular and effective ecosystem twisted our minds
          and now we’re able to deploy and connect different parts of our apps
          and infrastructure easily.”
        </p>
        <p class="quotes__attribution">
          – André Poleza, Co-Founder of Nepente
        </p>
      </div>
    </blockquote>
    <nav class="quotes__nav">
      <a class="quotes__nav-link"
         href="#quote1">Quote 1</a>
      <a class="quotes__nav-link"
         href="#quote2">Quote 2</a>
    </nav>
  </div>
</section>

<section class="site-section site-section--medium-blue">
  <div class="main-content">
    <div class="main-content__columns">
      <div class="main-content__column u-align--center">
        <a class="main-content__button u-button u-button--light"
           href="{{ site.github.url }}/contact">
          Join Our Mailing List
        </a>
      </div>
      <div class="main-content__column u-align--center">
        <a class="main-content__button u-button u-button--light"
           href="https://github.com/apache?q=openwhisk">
          Explore the Source on GitHub
        </a>
      </div>
    </div>
  </div>
</section>
