---
layout: default
---

<section class="site-section site-section--gradient">
  <div class="main-cta">
    <div class="main-cta__lede main-cta__lede--padded">
      <h1 class="main-cta__title">
        Focus on quickly developing  value-adding code and share with
        the community.
      </h1>
      <a class="main-cta__button u-button"
         href="#call-to-action">
        Try OpenWhisk Now
      </a>
    </div>
    <div class="main-cta__graphic main-cta__graphic--persona">
      <img class="main-cta__illustration main-cta__illustration--with-min-width main-cta__illustration--overhang"
           src="{{ site.github.url }}/images/persona-developer-torso.svg"
           alt="Illustration: How OpenWhisk Works">
    </div>
  </div>
</section>

<section class="site-section">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--vertical-center">
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/illustration-developers-scaling.svg"
             alt="OpenWhisk scaling and utilization">
      </div>
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Scaling Per-Request &amp; Optimal Utilization
        </h2>
        <p class="main-content__text">
          Run your action ten thousand times in a fraction of a second, or once
          a week. Action instances scale to meet demand exactly, then disappear.
        </p>
        <p class="main-content__text">
          Also you can enjoy optimal utilization where resources are not
          idling around.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-section site-section--gray">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--reverse main-content__columns--vertical-center">
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/illustration-developers-flexible.svg"
             alt="OpenWhisk flexible programming">
      </div>
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Flexible Programming
        </h2>
        <p class="main-content__text">
          Code in different languages like JavaScript/NodeJS, Swift, Python,
          Java and to run custom logic by executing Docker containers.
        </p>
        <p class="main-content__text">
          Invoke your code synchronously, asynchornously or even periodically.
        </p>
        <p class="main-content__text">
          Use higher-level programming constructrs like sequencing which allows
          you to declaratively (i.e. without touching your actions code), chain
          together multiple actions parameter binding which relieves you from
          the need to hardcode things like credential in your code
        </p>
        <p class="main-content__text">
          And also, Debug your code in realtime.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--vertical-center">
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/illustration-developers-ecosystem.svg"
             alt="OpenWhisk scaling and utilization">
      </div>
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Rich Service Ecosystem
        </h2>
        <p class="main-content__text">
          Benefit from a rich service ecosystem of event emitters and consumers
          from different vendors falling into different domains like analytics,
          cognitive,data, mobile, IoT and so forth (I think we should makle each
          of these deomains clickable and provide samle scenarios)
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-section site-section--light-blue">
  <div class="quotes js--fade-loop">
    <blockquote id="quote1" class="quotes__quote">
      <div class="quotes__text">
        <p>
          “So far I find #OpenWhisk the real highlight of this #serverlessconf
          London, I’m totally amazed by the work done so far by the dev team!
          kudos”
        </p>
        <p class="quotes__attribution">
          #OpenWhisk
        </p>
      </div>
    </blockquote>
    <blockquote id="quote2" class="quotes__quote">
      <div class="quotes__text">
        <p>
          “So far I find #OpenWhisk the real highlight of this #serverlessconf
          London, I’m totally amazed by the work done so far by the dev team!
          kudos”
        </p>
        <p class="quotes__attribution">
          #OpenWhisk
        </p>
      </div>
    </blockquote>
    <nav class="quotes__nav js--fade-loop__nav">
      <a class="quotes__nav-link"
         href="#quote1">Quote 1</a>
      <a class="quotes__nav-link"
         href="#quote2">Quote 2</a>
    </nav>
  </div>
</section>
