---
layout: default
---

<section class="site-section site-section--gradient">
  <div class="main-cta">
    <div class="main-cta__lede">
      <p class="main-cta__text">
        <strong class="main-cta__strong">OpenWhisk</strong> is a
        <a class="main-cta__link"
           href="{{ site.github.url }}/serverless">serverless</a>,
        <strong class="main-cta__strong">open-source</strong> cloud platform
        that executes functions in
        <strong class="main-cta__strong">response to events</strong> at any
        scale, without managing servers.
      </p>
      <a class="main-cta__button u-button"
         href="https://github.com/openwhisk/openwhisk/tree/master/docs#getting-started-with-openwhisk">
        Get Started
      </a>
    </div>
    <div class="main-cta__graphic main-cta__graphic--stick-to-top">
      <img class="main-cta__illustration"
           src="{{ site.github.url }}/images/illustration-openwhisk.svg"
           alt="Illustration: How OpenWhisk Works">
    </div>
  </div>
</section>

<section class="site-section site-section--blue">
  <div class="where-to-start">
    <div class="where-to-start__animation">
      <img class="where-to-start__image"
           src="{{ site.github.url }}/images/temp-code.png"
           alt="Get started with OpenWhisk">
    </div>
    <div class="where-to-start__text">
      <h2 class="where-to-start__heading">
        Where to start.
      </h2>
      <p class="where-to-start__lede">
        With OpenWhisk you can easily create actions, test, connect to other
        actions or debug them. Try the
        <a class="where-to-start__link"
           href="https://github.com/openwhisk/openwhisk/blob/master/docs/README.md#setting-up-the-openwhisk-cli">
          OpenWhisk CLI
        </a>
        and run your first action in seconds.
      </p>
    </div>
  </div>
</section>

<section class="site-section site-section--light-blue">
  <div class="main-content main-content--center">
    <h2 class="main-content__heading">
      Video Title
    </h2>
    <div class="main-content__video u-embed-container">
      <iframe width="560" height="315"
              src="https://www.youtube.com/embed/enk45wEQHzI"
              frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section class="site-section site-section--gray site-section--vertical-padding">
  <ul class="why-are-we-here">
    <li class="why-are-we-here__card">
      <a class="why-are-we-here__section-link why-are-we-here__section-link--developers"
         href="{{ site.github.url }}#developers">
        How do I use OpenWhisk?
      </a>
    </li>
    <li class="why-are-we-here__card">
      <a class="why-are-we-here__section-link why-are-we-here__section-link--service-integrations"
         href="{{ site.github.url }}#service-integrations">
        How do I integrate my service with OpenWhisk?
      </a>
    </li>
    <li class="why-are-we-here__card">
      <a class="why-are-we-here__section-link why-are-we-here__section-link--contributors"
         href="{{ site.github.url }}#contributors">
        How can I contribute to OpenWhisk?
      </a>
    </li>
  </ul>
</section>

<section class="site-section site-section--vertical-padding"
         id="developers">
  <div class="persona">
    <div class="persona__text">
      <h2 class="persona__heading">Focus on your code. Only.</h2>
      <p class="persona__lede">
        No need to manage servers, worry about scalability issues or resources
        fiddling around. Use your time doing what is important: Coding. Plus,
        you only pay for what you use and need.
      </p>
      <div class="persona__columns persona__columns--more-top-margin">
        <div class="persona__column">
          <h3 class="persona__sub-heading">
            Cost-effective
          </h3>
          <img class="persona__benefit-image"
               src="{{ site.github.url }}/images/illustration-cost-effective.svg"
               alt="OpenWhisk is cost-effective for developers">
          <p class="persona__benefit-text">
            Pay only for the exact time your actions run, down to the
            millisecond. When an action is not working, it’s not in memory, so
            you don’t pay anything.
          </p>
        </div>
        <div class="persona__column">
          <h3 class="persona__sub-heading">
            Languages &amp; integrations
          </h3>
          <img class="persona__benefit-image"
               src="{{ site.github.url }}/images/illustration-languages-and-integrations.svg"
               alt="OpenWhisk is integrates with many popular languages and apps">
          <p class="persona__benefit-text">
            Work with what you know and love. Integrate services, code in the
            languages you feel more comfortable with, even custom ones. All the
            pieces connect.
          </p>
        </div>
      </div>
    </div>
    <div class="persona__cta">
      <img class="persona__illustration"
           src="{{ site.github.url }}/images/persona-developers.svg"
           alt="Developers">
      <a class="persona__button u-button u-button--secondary"
         href="{{ github.site.url }}/developers">
        Read More
      </a>
    </div>
  </div>
</section>

<section class="site-section site-section--gray site-section--vertical-padding"
         id="service-integrations">
  <div class="persona">
    <div class="persona__text">
      <div class="persona__columns">
        <div class="persona__column">
          <h2 class="persona__heading">Your service in OpenWhisk.</h2>
          <p class="persona__benefit-text">
            Benefit from an open event provider interface, making it easy to make
            your service part of OpenWhisk’s ecosystem to drive traffic &amp; usage.
          </p>
          <p class="persona__benefit-text">
            Maybe more text here?
          </p>
        </div>
        <div class="persona__column">
          <img class="persona__benefit-image"
               src="{{ site.github.url }}/images/illustration-integrators.svg"
               alt="OpenWhisk benefits for service integrators">
        </div>
      </div>
    </div>
    <div class="persona__cta">
      <img class="persona__illustration"
           src="{{ site.github.url }}/images/persona-integrators.svg"
           alt="Developers">
      <a class="persona__button u-button u-button--secondary"
         href="{{ github.site.url }}/developers">
        Read More
      </a>
    </div>
  </div>
</section>

<section class="site-section site-section--vertical-padding"
         id="contributors">
  <div class="persona">
    <div class="persona__text">
      <h2 class="persona__heading">Make part of a vibrant open-source community!</h2>
      <div class="persona__columns">
        <div class="persona__column">
          <p class="persona__benefit-text">
            Be part of a strong community &amp; bleeding edge technology with
            the potential to become a game changer for cloud native app
            development.
          </p>
          <p class="persona__benefit-text">
            Contribute to an open platform that can run anywhere avoiding any
            kind of vendor lock-in.
          </p>
        </div>
        <div class="persona__column">
          <p class="persona__benefit-text">
            Participate in something that itself has been build upon open
            technologies like Scala, Docker, Consul, and Kafka.
          </p>
          <p class="persona__benefit-text">
            Learn something new &amp; broaden your skillset.
          </p>
        </div>
      </div>
    </div>
    <div class="persona__cta">
      <img class="persona__illustration"
           src="{{ site.github.url }}/images/persona-contributors.svg"
           alt="Developers">
      <a class="persona__button u-button u-button--secondary"
         href="{{ github.site.url }}/contributors">
        Read More
      </a>
    </div>
  </div>
</section>
