---
layout: default
---

<section class="site-section site-section--gradient">
  <div class="main-cta">
    <div class="main-cta__lede main-cta__lede--padded">
      <h1 class="main-cta__title">
        Enable your service for Apache OpenWhisk and start playing the :serverless:
        game (revise text)
      </h1>
      <a class="main-cta__button u-button"
         href="#call-to-action">
        Add Your Service Now
      </a>
    </div>
    <div class="main-cta__graphic main-cta__graphic--persona">
      <img class="main-cta__illustration main-cta__illustration--with-min-width main-cta__illustration--overhang"
           src="{{ site.github.url }}/images/persona-integrator-torso.svg"
           alt="Service Integrators and Apache OpenWhisk">
    </div>
  </div>
</section>

<section class="site-section">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--vertical-center">
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/illustration-integrators.svg"
             alt="Apache OpenWhisk">
      </div>
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Rich Service Ecosystem
        </h2>
        <p class="main-content__text">
          Benefit from a rich service ecosystem of event emitters and consumers
          from different vendors falling into different domains like analytics,
          cognitive,data, mobile, IoT and so forth (I think we should makle each
          of these deomains clickable and provide samle scenarios)
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-section site-section--gray">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--vertical-center">
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Headline Coming Soon
        </h2>
        <p class="main-content__text">
          Spicy jalapeno bacon ipsum dolor amet laboris proident esse tri-tip
          eiusmod hamburger sint ball tip cow doner. Irure ipsum elit ea fugiat.
          Burgdoggen shoulder pork belly corned beef. Doner proident excepteur
          pig in eiusmod officia ham sint.
        </p>
      </div>
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/temp-placeholder.svg"
             alt="Apache OpenWhisk">
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--vertical-center">
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/temp-placeholder.svg"
             alt="Apache OpenWhisk">
      </div>
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Headline Coming Soon
        </h2>
        <p class="main-content__text">
          Spicy jalapeno bacon ipsum dolor amet laboris proident esse tri-tip
          eiusmod hamburger sint ball tip cow doner. Irure ipsum elit ea fugiat.
          Burgdoggen shoulder pork belly corned beef. Doner proident excepteur
          pig in eiusmod officia ham sint.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-section site-section--light-blue">
  <div class="quotes js--fade-slider">
    <blockquote id="quote1" class="quotes__quote js--fade-slider__slide">
      <div class="quotes__text">
        <p>
          “What excites me most [about Apache OpenWhisk] is its open-source
          nature, which creates a foundation for a broad ecosystem of
          contributing parties.”
        </p>
        <p class="quotes__attribution">
          – Andrei Yurkevich, CTO of Altorors
        </p>
      </div>
    </blockquote>
    <blockquote id="quote2" class="quotes__quote js--fade-slider__slide">
      <div class="quotes__text">
        <p>
          “Apache OpenWhisk’s modular and effective ecosystem twisted our minds
          and now we’re able to deploy and connect different parts of our apps
          and infrastructure easily.”
        </p>
        <p class="quotes__attribution">
          – André Poleza, Co-Founder of Nepente
        </p>
      </div>
    </blockquote>
    <nav class="quotes__nav js--fade-loop__nav js--fade-slider__nav">
      <a class="quotes__nav-link"
         href="#quote1">Quote 1</a>
      <a class="quotes__nav-link"
         href="#quote2">Quote 2</a>
    </nav>
  </div>
</section>
