---
layout: default
---

<section class="site-section site-section--gradient">
  <div class="main-cta">
    <div class="main-cta__lede main-cta__lede--padded">
      <h1 class="main-cta__title">
        Enable your service for OpenWhisk and start playing the :serverless:
        game (revise text)
      </h1>
      <a class="main-cta__button u-button"
         href="#call-to-action">
        Add Your Service Now
      </a>
    </div>
    <div class="main-cta__graphic main-cta__graphic--persona">
      <img class="main-cta__illustration main-cta__illustration--with-min-width main-cta__illustration--overhang"
           src="{{ site.github.url }}/images/persona-integrator-torso.svg"
           alt="Service Integrators and OpenWhisk">
    </div>
  </div>
</section>

<section class="site-section">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--vertical-center">
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/illustration-integrators.svg"
             alt="OpenWhisk">
      </div>
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Rich Service Ecosystem
        </h2>
        <p class="main-content__text">
          Benefit from a rich service ecosystem of event emitters and consumers
          from different vendors falling into different domains like analytics,
          cognitive,data, mobile, IoT and so forth (I think we should makle each
          of these deomains clickable and provide samle scenarios)
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-section site-section--gray">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--vertical-center">
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Headline Coming Soon
        </h2>
        <p class="main-content__text">
          Spicy jalapeno bacon ipsum dolor amet laboris proident esse tri-tip
          eiusmod hamburger sint ball tip cow doner. Irure ipsum elit ea fugiat.
          Burgdoggen shoulder pork belly corned beef. Doner proident excepteur
          pig in eiusmod officia ham sint.
        </p>
      </div>
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/temp-placeholder.svg"
             alt="OpenWhisk">
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="main-content">
    <div class="main-content__columns main-content__columns--vertical-center">
      <div class="main-content__column">
        <img class="main-content__image"
             src="{{ site.github.url }}/images/temp-placeholder.svg"
             alt="OpenWhisk">
      </div>
      <div class="main-content__column">
        <h2 class="main-content__heading">
          Headline Coming Soon
        </h2>
        <p class="main-content__text">
          Spicy jalapeno bacon ipsum dolor amet laboris proident esse tri-tip
          eiusmod hamburger sint ball tip cow doner. Irure ipsum elit ea fugiat.
          Burgdoggen shoulder pork belly corned beef. Doner proident excepteur
          pig in eiusmod officia ham sint.
        </p>
      </div>
    </div>
  </div>
</section>
