---
layout: default
---
<section class="site-section">
  <div class="main-content">
    {% if page.image %}
      {% assign maybe_protocol = page.image | slice: 0, 4 %}
      {% if maybe_protocol == 'http' %}
        {% assign image_url = page.image %}
      {% else %}
        {% assign image_url = site.github.url | append: page.image %}
      {% endif %}
      <img class="main-content__image main-content__image--float-right"
           src="{{ image_url }}"
           alt="{{ page.title }}">
    {% endif %}
    <h1 class="main-content__title main-content__title--no-margin">{{ page.title }}</h1>
    <div class="main-content__body-content">
      {{ content }}
    </div>
  </div>
</section>
