---
layout: default
---
<section class="site-section site-section--gray">
  <div class="main-content">
    <h1 class="main-content__title main-content__title--no-margin">{{ page.title }}</h1>
    <div class="main-content__body-content main-content__body-content--partners">
      {{ content }}
    </div>
  </div>
</section>

<section class="site-section">
  <div class="main-content">
    <div class="main-content__columns">
      <div class="main-content__column main-content__column--3-across main-content__column--gray-light">
        <img class="main-content__image main-content__image--no-margin"
             src="{{ site.github.url }}/images/partner/advisorconnect.png"
             srcset="{{ site.github.url }}/images/partner/advisorconnect.png 1x,
                     {{ site.github.url }}/images/partner/advisorconnect@2x.png 2x"
             alt="Advisor Connect partners with Apache OpenWhisk">
      </div>
      <div class="main-content__column main-content__column--3-across main-content__column--gray-light">
        <img class="main-content__image main-content__image--no-margin"
             src="{{ site.github.url }}/images/partner/altoros.png"
             srcset="{{ site.github.url }}/images/partner/altoros.png 1x,
                     {{ site.github.url }}/images/partner/altoros@2x.png 2x"
             alt="Altoros partners with Apache OpenWhisk">
      </div>
      <div class="main-content__column main-content__column--3-across main-content__column--gray-light">
        <img class="main-content__image main-content__image--no-margin"
             src="{{ site.github.url }}/images/partner/nepente.png"
             srcset="{{ site.github.url }}/images/partner/nepente.png 1x,
                     {{ site.github.url }}/images/partner/nepente@2x.png 2x"
             alt="Nepente partners with Apache OpenWhisk">
      </div>
      <div class="main-content__column main-content__column--3-across main-content__column--gray-light">
        <img class="main-content__image main-content__image--no-margin"
             src="{{ site.github.url }}/images/partner/adobe.png"
             srcset="{{ site.github.url }}/images/partner/adobe.png 1x,
                     {{ site.github.url }}/images/partner/adobe@2x.png 2x"
             alt="Adobe partners with Apache OpenWhisk">
      </div>
      <div class="main-content__column main-content__column--3-across main-content__column--gray-light">
        <img class="main-content__image main-content__image--no-margin"
             src="{{ site.github.url }}/images/partner/sitespirit.png"
             srcset="{{ site.github.url }}/images/partner/sitespirit.png 1x,
                     {{ site.github.url }}/images/partner/sitespirit@2x.png 2x"
             alt="SiteSpirit partners with Apache OpenWhisk">
      </div>
      <div class="main-content__column main-content__column--3-across main-content__column--gray-light">
        <img class="main-content__image main-content__image--no-margin"
             src="{{ site.github.url }}/images/partner/apache.png"
             srcset="{{ site.github.url }}/images/partner/apache.png 1x,
                     {{ site.github.url }}/images/partner/apache@2x.png 2x"
             alt="Apache OpenWhisk is part of the Apache Incubator">
      </div>
    </div>
  </div>
</section>
