---
layout: default
---
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
  crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>

<section id="whiskHeader" class="light-text bot-bar">
    <main>
        <div>
        </div>
    </main>
</section>

<section id="whiskNodes">
    <main class="doc">
        <div class="content">
            <h3>Already a Team member?</h3>
            <p>click here: <a href="https://openwhisk-team.slack.com/"><b>openwhisk-team.slack.com</b></a></p>
            <h3>If not, join us!</h3>
            <p>Join the OpenWhisk Community to discuss the project in real-time.</p>
            <ul style="text-align: left">
                <li><strong>Talk</strong> to the core devs and the OpenWhisk community.</li>
                <li><strong>Learn</strong> from others and ask questions.</li>
                <li><strong>Share</strong> your work and demos.</li>
            </ul>
            <form>
                <div>
                    <label for="exampleInputEmail2">Email:</label>
                    <input class="form-control" id="inputEmail" placeholder="jane.doe@example.com" required="" type="email">
                </div>
                <button type="button" class="btn btn-primary" style="margin:5px;">Send invitation</button>
            </form>
            <p></p>
            <p>We are a friendly, respectful and inclusive community!</p>
            <a href="https://openwhisk-team.slack.com/"></a>
            <p>
                <i>Code for Slack invite (this page) is on github:</i><br><i> </i><i>
                <a href="https://github.com/openwhisk/openwhisk-slackinvite" target="blank">https://github.com/openwhisk/openwhisk-slackinvite</a></i>
            </p>
        </div>
    </main>
</section>

<script type="text/javascript">
  $(document).ready(function () {
    var btn = $("button");
    var res = $("#result");
    var email = $('#inputEmail');
    var actionUrl = "https://js-http.nimbella.io/github.com/apache/openwhisk-website/blob/slack/apis/slack-invite.js?__c=N0_25b48535e252995f2f0960d9002bf55f_0_45725642996e63884cf84425ac19b3db85d5cfe6037cbb39dba06a2dfbff22e551827e951cc36405f048fb2d41f36edfbab2fa9d852f629f7603017ed5a7ba70d5817eada2ba18535fb355e2b627fe5f89f2b1705491eb3418d153581644b4be_";
    function handler() {
      var email = $("input")[0].value;
      $.get(actionUrl, { email: email, org: 'openwhisk-team' })
        .done(function (data) {
          btn.addClass("btn-success");
          btn.html("WOOT. CHECK YOUR EMAIL!");
          res.html(data.message);
        })
        .fail(function (err) {
          res.html(err.statusText + ":Your invitation didn't work :-( ");
          btn.addClass("btn-error");
        });
    }
    btn.click(handler);
    btn.prop("disabled", true);

    function validate() {
      console.log("validate")
      if (email[0].validity.typeMismatch) {
        btn.prop("disabled", true);
      } else {
        btn.prop("disabled", false);
      }
    }
    email.keyup(validate);
  })

</script>
