---
layout: default
---
<!--
# Licensed to the Apache Software Foundation (ASF) under one or more contributor
# license agreements; and to You under the Apache License, Version 2.0.
-->
<div id="whiskIndexedLayout">

    <!-- Community Index -->
    <div id="whiskIndex">
        <ul>
            <li>Trademark Guidelines</li>

        </ul>
    </div>


    <section id="whiskNodes">
        <main class="doc">
            <div class="content">
                <a class="indexable" id="trademarks"></a>
                <h2>Apache OpenWhisk Trademark Guidelines</h2>
            </div>
        </main>

        <main class="doc">
            <div class="content">

                <p>Apache OpenWhisk, OpenWhisk and the OpenWhisk logo are
                <a href="https://www.apache.org/foundation/marks/">trademarks</a>
                of the <a href="https://www.apache.org/">Apache Software Foundation (ASF)</a>.
                The ASF is a 501(c)(3) nonprofit organization, and as such, needs to take
                special care about how its trademarks are used by organizations.
                In particular, ASF needs to ensure that its software products are clearly
                distinguished from third-party products.</p>

                <p>If you would like to provide software, services, events, or other products
                based on Apache OpenWhisk, please refer to the
                <a href="https://www.apache.org/foundation/marks/">ASF trademark policy</a>
                and <a href="https://www.apache.org/foundation/marks/faq/">FAQ</a>.
                This page summarizes the key points of the policy, but please note that
                the official policy always takes precedence.</p>

                <ul>
                  <li><strong>Software products,</strong> whether commercial or open source, are not allowed to use “OpenWhisk” in their name, except in the form “powered by Apache OpenWhisk" or “for Apache OpenWhisk” when following
                <a href="https://www.apache.org/foundation/marks/faq/#products">these specific
                guidelines</a>.
                    <ul>
                      <li>Names derived from “OpenWhisk” are also not allowed.</li>
                      <li>Company names may not include “OpenWhisk”.</li>
                      <li>Package identifiers (i.e., package names) may include
                       “openwhisk”, but the full name used for the software package should
                       follow the naming policy above.</li>
                      <li>Source code repository names (e.g., GitHub) may contain the word "openwhisk" as long as it is used to describe unofficial derivative works (such as applications, demos, 3rd party packages, etc.) of the Apache OpenWhisk project and do not claim to represent the OpenWhisk project itself.  Such repositories should prominently mention the Apache OpenWhisk project in accordance with Apache policy where possible.</li>
                    </ul>
                  </li>
                  <li>
                    <p><strong>Written materials</strong> must refer to the project as “Apache OpenWhisk” in the first and most prominent mentions. Materials from software vendors or software-related service providers must follow
                <a href="https://www.apache.org/foundation/marks/guide#howoften">stricter
                guidelines</a>, including using the full project name “Apache OpenWhisk" in more
                locations, and proper
                <a href="https://www.apache.org/foundation/marks/faq/#attribution">trademark
                attribution</a> on every page.</p>
                  </li>
                  <li>
                    <p><strong>Logos</strong> derived from the OpenWhisk logo are not allowed.</p>
                  </li>
                  <li>
                    <p><strong>Domain names</strong> containing “openwhisk” are not permitted without written permission from the Apache OpenWhisk PMC. To request permission, email
                <a href="mailto:private@openwhisk.apache.org">private@openwhisk.apache.org</a> and CC
                <a href="mailto:trademarks@apache.org">trademarks@apache.org</a>.
                (<a href="https://www.apache.org/foundation/marks/domains.html">Details</a>)</p>
                  </li>
                  <li><strong>Events, books, and merchandise</strong> have their own guidelines.
                Please refer to the
                <a href="https://www.apache.org/foundation/marks/">ASF trademark policy</a>
                and <a href="https://www.apache.org/foundation/marks/faq/">FAQ</a> for details.</li>
                </ul>

                <p>We appreciate the community’s help in respecting these guidelines.
                If you have any questions about the Apache trademark policy, please email
                <a href="mailto:trademarks@apache.org">trademarks@apache.org</a>.</p>

            </div>
        </main>
    </section>

</div>
